:root {
  --yellow-primary: #FFB800;
  --brown-primary: #FDC886;
  --brown-primary-hover: #f8b768;
  --brown-secondary: rgba(253, 200, 134, 0.15);
  --brown-secondary-hover: rgba(253, 200, 134, 0.4);
  --purple-primary: #5A4FCF;
  --purple-secondary: rgba(90, 79, 207, 0.1);
  --purple-hover: rgba(90, 79, 207, 0.2);
  --black-primary: #232631;
  --black-secondary: #656565;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FAFAFA;
  height: 120vh;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: none;
}

input {
  border: none;
  background: none;
  outline: none;
}

input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

main {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1em;
}

.text-yellow-primary {
  color: var(--yellow-primary);
}

.text-black-primary {
  color: var(--black-primary);
}

.text-black-secondary {
  color: var(--black-secondary);
}

.text-brown-primary {
  color: var(--brown-primary);
}

.text-brown-secondary {
  color: var(--brown-secondary);
}

.text-purple-primary {
  color: var(--purple-primary);
}

.text-purple-secondary {
  color: var(--purple-secondary);
}

.bg-brown-primary {
  background-color: var(--brown-primary);
  transition: all 0.3s;
}

.bg-brown-primary:hover {
  background-color: var(--brown-primary-hover);
}

.bg-brown-secondary {
  background-color: var(--brown-secondary);
}

.bg-purple-secondary {
  background-color: var(--purple-secondary);
  transition: all 0.3s;
}

.bg-purple-secondary:hover {
  background-color: var(--purple-hover);
  border: 1px solid var(--purple-primary);
}

.container {
  max-width: 1320px;
}

.text-button {
  font-size: 16px;
  line-height: 24px;
}

.arrow-card-info {
  border-radius: 12px;
  height: 36px;
  width: 36px;
  display: grid;
  place-content: center;
}

.icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}